* {
  font-family: Montserrat;
}

h1 {
  font-size: 3em !important;
  font-weight: 400 !important;
  white-space: nowrap !important;
  margin: 0 1.5em !important;
}

h2 {
  font-size: 1.5em !important;
  font-weight: 400 !important;
}

h3 {
  font-size: 1em !important;
  font-weight: 450 !important;
  margin: 0 !important;
}
