.main-container {
  margin: 0 2em;
  display: flex;
  flex-direction: column;
}

.section {
  margin: 4em 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap-reverse;
}

.hcontainer img {
  height: 20em;
  width: auto;
  border-radius: 3px;
  object-fit: cover;
  object-position: 50% 50%;
  image-rendering: pixelated;
  padding: 0.5em;
}

.btn-style {
  color: black;
  height: 2em;
  width: 10em;
  font-size: 1em;
  font-weight: 450;
  border-radius: 3px;
  border-width: 0px;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.btn-style-header {
  background-color: #f2f2f2;
  margin-bottom: 1em;
  box-shadow: 0px 0px 10px black;
  animation: btnHeaderMenuAnimation ease-in-out 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: background-color ease-out 0.2s, color ease-out 0.2s,
    box-shadow ease-out 0.2s;
}
@keyframes btnHeaderMenuAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn-style-header:hover {
  cursor: pointer;
  background-color: rgb(94, 94, 94);
  color: whitesmoke;
  box-shadow: 0px 0px 10px whitesmoke;
  transition: background-color ease-out 0.2s, color ease-out 0.2s,
    box-shadow ease-out 0.2s;
}

.btn-style-footer {
  background-color: rgb(196, 192, 192);
  margin: 2em;
  box-shadow: 0px 0px 2px black;
  transition: background-color ease-out 0.2s, color ease-out 0.2s;
}

.btn-style-footer:hover {
  background-color: rgb(121, 121, 121);
  color: white;
  transition: background-color ease-out 0.2s, color ease-out 0.2s;
}

.divFooterMain {
  display: flex;
  justify-content: center;
}
